@font-face {
  font-family: 'yatra';
  src: url('./assets/fonts/Yatra.ttf') format('truetype');
}

@font-face{
  font-family: 'EagleLake';
  src: url('./assets/fonts/EagleLake.ttf') format('truetype');
}


/*Colores introito
  rojo introito: #740101
  azul introito: #00207e
  blanco introito: #bbb8b1
  ocre introito: #735500
  negro introito: #181818
*/

body {
  font-family: 'yatra';
  margin: 0;
  padding: 0;
  background-color: #181818; 
  /*background-image: url('/assets/images/bgProvisional.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color:  #bbb8b1;
 
  
}

.titulo {
  text-align: center;
  padding: 20px;
}

.titulo h1 {
  font-size: 3rem; 
  color:  #bbb8b1;
  margin: 0;
}

.titulo h2 {
  font-size: 1.5rem; 
  color:  #bbb8b1;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 250px);
  position: relative;
  margin-top: auto;
  margin-left: auto;


}

.content-wrapper {
  position: relative; 
}

.rectangulo {
  width: 60vw; 
  height: calc(60vw * 9 / 16); 
  max-width: 1080px; 
  max-height: 600px; 
  background-color: #090909;
  padding: 20px;
  position: relative;
  font-size: 1vw;

}


.arrow {
  font-size: 40px;
  cursor: pointer;
  color: white;
  user-select: none;
  padding: 15px;
  background-color: #b67940; 
  border-radius: 30%; 
  transition: background-color 0.3s ease;
}

.left {
  margin-right: 10px; /* Espacio entre la flecha izquierda y el rectángulo */
}

.right {
  margin-left: 10px; /* Espacio entre la flecha derecha y el rectángulo */
}

.arrow:hover {
  background-color: #b8482d; 
}

img {
  width: auto;
	height: auto;
	position: relative;
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 30px auto 0;
}

.social-links {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
}

.social-item {
  display: flex; 
  align-items: center; 
  margin: 10px 0; 
}

.social-icon {
  width: 30px; 
  height: auto; 
  margin-right: 10px;
  margin-top: 0px;
}

.tab-content {
  display: none;

}

.active {
  display: block;
  align-items: center;

}

footer {
  background-color: #090909;
  color: #735500;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.ventanita {
  display: none; 
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 100; 
}
