body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: bisque; 
    
    background-image: url('images/bgProvisional.jpg'); /* Reemplaza con tu URL de imagen */
    background-size: cover; /* La imagen cubre toda la pantalla */
    background-repeat: no-repeat; /* No se repite la imagen */
    background-position: top; /* Centra la imagen */ 

}

header {
    background-color: antiquewhite;
    color: black;
    padding: 20px;
    text-align: center;
}

.cuadro {
	display: block;
	position: relative;
	background-color: #869f35;
	color: #fff;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 10px;
	padding: 5px;
	text-align: center;
	border-radius: 30px;
	background-image: url('cuadro.png');
}

h2 {
	text-align: center;
	color: white;
	font-size: 40px;
}

nav {
    background-color: #333;
    padding: 1rem;
  }

  
nav button {
background-color: #444;
color: white;
border: none;
padding: 10px 20px;
cursor: pointer;
margin: 0 10px;
border-radius: 5px;
}

nav button:hover {
background-color: #666;
}

.tab-content {
display: none;
padding: 20px;
margin-left: 50px;
}

.active {
display: block;
}

img {
  width: auto;
	height: auto;
	position: relative;
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 30px auto 0;
}



ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    display: flex; /* Permite alinear los elementos en línea */
    align-items: center; /* Alinea verticalmente al centro */
  }
  
  li img {
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    width: 30px; /* Tamaño del ícono */
    height: 30px; /* Tamaño del ícono */
  }
  
  li a {
    font-size: 16px; /* Tamaño del texto (ajusta según sea necesario) */
    color: #333; /* Color del texto (ajusta según sea necesario) */
    text-decoration: none; /* Elimina el subrayado del enlace */
  }
  
  li a:hover {
    text-decoration: underline; /* Añade subrayado en el hover */
  }



footer {
    background-color: antiquewhite;
    color: rgb(197, 132, 35);
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

